<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer-page-vaga.css">
    <link rel="stylesheet" href="../css/vaga.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="icon" type="imagem/png" href="../images/iconeSite.png">
    <title>Techno Growing | {{Nome da Vaga}}</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../header footer-Versão Final/PGinicial.html"><li>Home</li></a>
                            <a href="../vagas/vagas.html"><li>Vagas</li></a>
                            <a href="../LOJA-PI/index.html"><li>Loja</li></a>
                            <a href="../PG-sobre/index.html"><li>Sobre</li></a>
                            <a href="../PG-Contato/index.html"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <div class="center">
                <!--Imagem da ong aqui-->
                <div class="img"><img src="../images/planta.png"></div>
                <div class="conteudo">
                    <div class="desc-conteudo">
                        <div class="nome-ong">
                            <p>Nome da ong</p>
                        </div>
                        <label class="lblDesc">Descriçao</label>
                        <div class="desc-ONG">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, quam iusto consectetur pariatur facere eius libero recusandae unde, repellat, atque dicta ducimus similique ullam ut non repellendus consequuntur ea! Aliquam?</p>
                        </div>
                        <label class="lblDados">Dados da Ong</label>
                        <div class="dadosONG">
                            <ul>
                                <li>Endereço:</li>
                                <li>Bairro: </li>
                                <li>Cidade:</li>
                                <li>Categoria:</li>
                            </ul>
                        </div>
                        <div class="redes"><p>Redes Sociais</p></div>
                        <div class="dadosONGredes">
                            <ul>
                                <a href="#"><li>Facebook</li></a>
                            </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="descVaga">
            <div class="nomeVaga"><p>Nome da Vaga</p></div>
            <div class="descConteudoVaga"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam culpa quod odio reiciendis similique nesciunt ullam, laudantium eaque iure voluptatibus illo earum in ad aut, vero dolores laboriosam hic asperiores. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi incidunt recusandae beatae aspernatur eveniet magnam natus, quaerat eaque eos cum voluptatem quo placeat modi autem, 
                molestiae aperiam neque rerum impedit!</p>
            </div>
            <div class="descVaga2">
                <label class="lbldesc2">Horários e Endereço da vaga</label>
                <ul>
                    <li><img src="../images/calendario.png"><p>Seg a Sex</p></li>
                    <li><img src="../images/relogio-nove.png"><p>4 Horas</p></li>
                    <li>Endereço:</li>
                </ul>
                <div class="btn">
                    <button type="submit" id="enviar"><a href="../ComfirmarCad/confirmCad.html">Canditatar</a></button>
                </div>
            </div>
        </section>
    </div>
    <script src="../js/load.js"></script>
</body>
</html>